.main-container {
  display: flex;
  flex-wrap: nowrap;
  min-height: 80vh;
  max-height: 90vh;
}

.detail {
  flex: 3 1 600px;
  padding: 1.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 200px;
  background: #f0f0f0;
  overflow-y: auto;
  max-height: 80vh;
    flex: 1 1 250px;
  max-width: 350px;
  border-right: 1px solid #ddd;
  background-color: #fafafa;
  padding: 1rem;
  overflow-y: auto;
}

.card-item {
  cursor: pointer;
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

.card-item:hover {
  background-color: #ddd;
}

.card-item img.thumb {
  width: 100%;
  max-width: 201px;
  aspect-ratio: 201/112;
  object-fit: cover;
  border-radius: 8px;
}

.detail {
  flex-grow: 1;
  padding: 1rem;
  overflow-x: auto;
}


/* Адаптація під мобільні */
@media (max-width: 700px) {
  .main-container {
    flex-direction: column;
    align-items: center;
  }

  .sidebar {
    max-width: 80%; 
    width: 100%;
    flex: 1;
    flex-direction: row;
    overflow-y:hidden;
    overflow-x:auto;
    /* border-right: none; */
    /* border-bottom: 1px solid #ddd; */
  }

  .Secret-Table{
    font-size: 0.8em;
  }
  .Secret-Table th{
    height: 80px;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  overflow-wrap: break-word;   
  }
  .card-item img.thumb {
  height: 100%;
  min-width:120px;
  max-height: 100px;
  aspect-ratio: 201/112;
}
}

